.home_section {
  position: relative;
  overflow: hidden;
}

.background_container {
  position:absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  
  z-index: 1;
}

.background_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  opacity: 90%;

}
.background_container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.home_content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.home_content img {
  view-timeline-name: --hands1;
  view-timeline-axis: block;
  animation-timeline: --hands1;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.home_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
  text-align: center;

}

.homeimagen {
  width: 345px;
  height: 707px;

}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;

  }

  to {
    opacity: 1;
    scale: 100%;
  }

}

.home_text span {
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 17.92px;
  text-transform: uppercase;

}

.home_bot {

  width: 50%;
  /* Para que el ancho se ajuste al contenido */
  animation: animatedBorder 5s infinite linear;
  /* Animación del borde */
  display: inline-block;
  /* Para que el span se ajuste al contenido */
  padding: 10px;
  /* Espaciado para el borde */
  border: 3px solid transparent;
  /* Establecer un borde inicial */
  background-image: linear-gradient(to right, #c300ff, #FF009D);
  background-clip: border-box;
  /* Degradado de fondo */
  -webkit-background-clip: text;
  color: transparent;
  /* Hace el texto transparente */
  font-size: 2rem;
  /* Tamaño del texto */
}
.pythoncode{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.python-highlighter{
  width: 50%; /* Ajusta el ancho según lo necesites */
  height: 50%;
}

.flex_btn_content{
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: hidden;

}
.Showbtn{
 background-color: #411f6a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  margin: 0 10px;
  
}

/* Animación del borde */
@keyframes animatedBorder {
  0% {
    border-color: #442b63;
    /* Color inicial del borde */
    background-position: 30% 50%;
    /* Inicio del degradado */
  }

  50% {
    border-color: #736288;
    /* Color intermedio del borde */
    background-position: 50% 50%;
  }

  75% {
    border-color: #411f6a;
    /* Color intermedio del borde */
    background-position: 70% 50%;
  }

  100% {
    border-color: #442b63;
    /* Color final del borde */
    background-position: 100% 50%;
  }
}

/* 1366 x   768 */

@media (min-width: 1025px) and (max-width: 1380px) {

  .home_text {
    width: 100%;
    align-items: center;

  }

  .home_bot {
    width: 50%;
    justify-content: center;
    align-items: center;

  }

  .home_text span {
    font-size: 100px;
    letter-spacing: 17.92px;
    justify-content: center;
    text-align: center;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {
  .home_flex {
    flex-direction: column;
    height: 100%;
  }

  .home_text {
    width: 100%;
    align-items: center;
  }

  .homeimagen {
    height: 50%;

  }

  .home_text span {
    font-size: 100px;
    letter-spacing: 17.92px;
    justify-content: center;
    text-align: center;
  }

  .home_bot {
    width: 80%;
  }

}

@media (max-width: 767px) {

  .home_text span {
    font-size: 40px;
    letter-spacing: 8.96px;
  }


  .home_text {
    width: 50%;
    gap: 20px;

    align-items: center;
  }

  .homeimagen {
    width: 172px;
    height: 354px;
  }

  .home_flex {
    flex-direction: column;
    height: 80%;
    gap: 0;
  }

  .home_bot {
    width: 80%;
  }

}