.home_section {
  position: relative;
  height: 100vh;
  /* Ajusta la altura según tu diseño */
  overflow: hidden;
}

/* Estilos CSS */
.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 99%;
  padding: 10px 10px;
  position: sticky;
  z-index: 2;
}

.nav_content img {
  width: 50px;
}

.nav_content ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-right: 35px;
}

.nav_content ul li a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.52px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Resto de estilos... */


.background_container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_content {

  width: 100%;
  height: 100%;
  z-index: 1;
}

.home_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.home_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
  text-align: center;

}

.homeimagen {
  width: 345px;
  height: 707px;
}

.home_text span {
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 10rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 17.92px;
  text-transform: uppercase;

}

.home_bot {

  width: 50%;
  /* Para que el ancho se ajuste al contenido */
  animation: animatedBorder 5s infinite linear;
  /* Animación del borde */
  display: inline-block;
  /* Para que el span se ajuste al contenido */
  padding: 10px;
  /* Espaciado para el borde */
  border: 3px solid transparent;
  /* Establecer un borde inicial */
  background-image: linear-gradient(to right, #c300ff, #FF009D);
  background-clip: border-box;
  /* Degradado de fondo */
  -webkit-background-clip: text;
  color: transparent;
  /* Hace el texto transparente */
  font-size: 2rem;
  /* Tamaño del texto */
}

/* Animación del borde */
@keyframes animatedBorder {
  0% {
    border-color: #442b63;
    /* Color inicial del borde */
    background-position: 30% 50%;
    /* Inicio del degradado */
  }
  50% {
    border-color: #19003A;
    /* Color intermedio del borde */
    background-position: 50% 50%;
  }

  100% {
    border-color: #442b63;
    /* Color final del borde */
    background-position: 100% 50%;
  }
}

/* 1366 x   768 */

@media (min-width: 1025px) and (max-width: 1380px) {

  .home_text {
    width: 100%;
    align-items: center;

  }

  .nav_logo {
    width: 40px;
  }

  .home_bot {
    width: 50%;
    justify-content: center;
    align-items: center;

  }

  .homeimagen {
    width: 345px;
    height: 707px;
  }

  .home_text span {
    font-size: 127px;
    letter-spacing: 17.92px;
    justify-content: center;
    text-align: center;
  }

  .nav_content img {
    width: 40px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .home_flex {
    flex-direction: column;
    height: 100%;
  }

  .home_text {
    width: 100%;
    align-items: center;
  }

  .homeimagen {
    width: 200px;
    height: 707px;
  }

  .home_text span {
    font-size: 100px;
    letter-spacing: 17.92px;
    justify-content: center;
    text-align: center;
  }

  .home_bot {
    width: 80%;
  }

  .nav_content img {
    width: 40px;
  }


}

@media (max-width: 767px) {

  .home_text span {
    font-size: 64px;
    letter-spacing: 8.96px;
  }

  .home_text {
    width: 100%;
    align-items: center;
  }

  .homeimagen {
    width: 172px;
    height: 354px;
  }

  .home_flex {
    flex-direction: column;
    height: 80%;
  }

  .home_bot {
    width: 80%;
  }

  .nav_content img {
    width: 30px;
  }

  .nav_content ul {
    flex-direction: column;
    display: none;
  }

}