/* CSS */

/* Agrega un contenedor para reservar espacio para el menú en su estado normal */
.nav-placeholder{
  height: 80px; /* Altura igual a la del menú normal */
}



/* Resto de tus estilos CSS... */

.nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 99%;
  padding: 10px 10px;
  position: relative;
  z-index: 7;
  transition: all 0.3s ease-in-out;
}

.nav_content.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #080013;
  z-index: 1000;
  transform: translateY(0%); 
}


.nav_content.sticky ul {
  padding: 0;
  margin: 0;
  margin-right: 290px;
}

.nav_content.sticky .nav_logo {
  transition: all 0.5s ease-in-out;
  margin-left: 250px;
}

.nav_content img {
  width: 35px;
}

.nav_content ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-right: 35px;
}

.nav_content ul li a {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.52px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_icon,
.close_icon {
  font-size: 2px;
  cursor: pointer;
  color: #FFF;
  display: none;
}
.nav_content.open{
  background-color:#080013db ;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 0px;
  height: 75px;
}

@media (min-width: 1025px) and (max-width: 1380px) {
  .nav_logo {
    width: 40px;
  }

  .nav_content img {
    width: 40px;
    margin-left: 50px;
  }

  .nav_content.sticky.nav_content img {
    margin-left: 0;
  }

  .nav_content.sticky.nav_content ul {
    margin-right: 50px;
    padding: 0;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav_content img {
    width: 40px;
  }

  .menu_icon {
    display: block;
    /* Mostrar el ícono de menú en dispositivos móviles */
    margin-right: 20px;
    /* Espacio entre el ícono y los elementos del menú */
  }

  .close_icon {
    display: none;
    margin-right: 40px;
    /* Ocultar el ícono de cerrar menú en dispositivos móviles (se mostrará al abrir el menú) */
  }

  .nav_content ul {
    display: none;

  }

  .nav_content_ul.open {
    display: flex;
    flex-direction: column;
    background-color: #080013db;
    position: fixed;
    left: 0;
    top: 71px;
    width: 100%;
    height: 100vh;
    padding: 0;
    text-align: center;
    align-items: center;
    pointer-events: auto;
  }
 

  li {
    margin-top: 50px;
  }
  .nav_content.sticky.nav_content img {
    margin-left: 0;
  }
  .nav_content.sticky.nav_content ul {
    margin-right: 10px;
    padding: 0;
  }
  

}
@media (max-width: 767px) {
  .nav_content {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .nav_content.sticky {
    margin-top: 0px;
    height: 70px;
  }
  .nav_content img {
    width: 30px;
    margin-left: 30px;
  }

  .nav_content.sticky.nav_content img {
    margin-left: 30px;
  }

  .nav_content ul {
    flex-direction: column;
    display: none;
  }

  .menu_icon {
    display: block;
    /* Mostrar el ícono de menú en dispositivos móviles */
    margin-right: 40px;
    /* Espacio entre el ícono y los elementos del menú */
  }

  .close_icon {
    display: none;
    margin-right: 20px;
  }

  .nav_content_ul {
    display: none;
  }

  .nav_content_ul.open {
    display: flex;
    flex-direction: column;
    background-color: #080013db;
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
    padding: 0;
    text-align: center;
    align-items: center;
    pointer-events: auto;
  }

  li.nav_link {
    margin-top: 20px;
  }

  li {
    margin-top: 50px;
  }
}