@import url(./var.css);
@import url(./font.css);


body{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: var(--background_home);
    font-family: 'Montserrat', sans-serif;
}